body,
html {
    height: 100%;
    margin: 0;
    background-color: azure;
}

.main-layout {
    background-image: url(../images/2.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.main-layout img {
    cursor: pointer;
}

.in-game {
    position: absolute;
}

.person {
    width: 220px;
    bottom: 30px;
    left: 10%;
}

.text-intro {
    background-image: url(../images/4.svg);
    width: 500px;
    height: 166px;
    bottom: 335px;
    left: 7%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 32px 10px 0px 10px;
    font-size: 20px;
}

.start-button {
    bottom: 100px;
    left: 30%;
}

.icon-note {
    bottom: 30px;
    right: 30px;
    width: 60px;
}


/* CSS */

.button-custom {
    background-color: #0078d0;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-custom:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
}

.button-custom:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .button-custom {
        padding: 16px 48px;
    }
}